<div class="caption-container">
  <div class="caption-item">
    <h3>Máscara</h3>
    <div>
      <div class="caption-item-image">
        <img src="../../../assets/images/required-mask.png" alt="" />
        <p>Obrigatorio</p>
      </div>
      <div class="caption-item-image">
        <img src="../../../assets/images/recommended-mask.png" alt="" />
        <p>Recomendado</p>
      </div>
    </div>
  </div>

  <div class="caption-item">
    <h3>Toalha</h3>
    <div>
      <div class="caption-item-image">
        <img src="../../../assets/images/required-towel.png" alt="" />
        <span>Obrigatorio</span>
      </div>
      <div class="caption-item-image">
        <img src="../../../assets/images/recommended-towel.png" alt="" />
        <span>Recomendado</span>
      </div>
    </div>
  </div>
  <div class="caption-item">
    <h3>Bebedouro</h3>
    <div>
      <div class="caption-item-image">
        <img src="../../../assets/images/partial-fountain.png" alt="" />
        <span>Parcial</span>
      </div>
      <div class="caption-item-image">
        <img src="../../../assets/images/forbidden-fountain.png" alt="" />
        <span>Proibido</span>
      </div>
    </div>
  </div>
  <div class="caption-item">
    <h3>Vestiário</h3>
    <div>
      <div class="caption-item-image">
        <img src="../../../assets/images/required-lockerroom.png" alt="" />
        <span>Liberado</span>
      </div>
      <div class="caption-item-image">
        <img src="../../../assets/images/partial-lockerroom.png" alt="" />
        <span>Parcial</span>
      </div>
      <div class="caption-item-image">
        <img src="../../../assets/images/forbidden-lockerroom.png" alt="" />
        <span>Fechado</span>
      </div>
    </div>
  </div>
</div>
