<div class="caption-container">
  <div class="caption-item">
    <h3>Máscara</h3>
    <div>
      <img src="../../../assets/images/required-mask.png" alt="" />
      <span>Obrigatorio</span>
      <img src="../../../assets/images/recommended-mask.png" alt="" />
      <span>Recomendado</span>
    </div>
  </div>
  <div class="caption-item">
    <h3>Toalha</h3>
    <div>
      <img src="../../../assets/images/required-towel.png" alt="" />
      <span>Obrigatorio</span>
      <img src="../../../assets/images/recommended-towel.png" alt="" />
      <span>Recomendado</span>
    </div>
  </div>
  <div class="caption-item">
    <h3>Bebedouro</h3>
    <div>
      <img src="../../../assets/images/partial-fountain.png" alt="" />
      <span>Parcial</span>
      <img src="../../../assets/images/forbidden-fountain.png" alt="" />
      <span>Proibido</span>
    </div>
  </div>
  <div class="caption-item">
    <h3>Vestiário</h3>
    <div>
      <img src="../../../assets/images/required-lockerroom.png" alt="" />
      <span>Liberado</span>
      <img src="../../../assets/images/partial-lockerroom.png" alt="" />
      <span>Parcial</span
      ><img src="../../../assets/images/forbidden-lockerroom.png" alt="" />
      <span>Fechado</span>
    </div>
  </div>
</div>
