/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Gotham";
}

p,
span,
label {
  color: $light-grey;
}

.divider {
  display: block;
  height: 2px;
  background-color: #ededed;
}

.divider-bolder {
  display: block;
  height: 2px;
  background-color: $simple-grey;
}

@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/gotham/gotham-light.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/gotham/gotham-book.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/gotham/gotham-bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("assets/fonts/gotham/gotham-black.woff2") format("truetype");
  font-weight: 900;
  font-style: normal;
}
