<form action="" [formGroup]="formGroup" class="form-container">
  <div class="header-form">
    <img src="../../../assets/images/icon-hour.png" alt="" />
    <p>Horário</p>
  </div>
  <section class="periodo-section">
    <div>
      <span>Qual periodo quer treinar?</span>
      <div class="divider"></div>
    </div>
    <div class="radio-group-container">
      <div class="radio-option">
        <label>
          <input
            id="manha_option"
            type="radio"
            value="manha"
            name="hour"
            formControlName="hour"
          />
          Manha
        </label>
        <span>06:00 ás 12h</span>
      </div>
      <div class="divider"></div>
      <div class="radio-option">
        <label>
          <input
            id="tarde_option"
            type="radio"
            value="tarde"
            name="hour"
            formControlName="hour"
          />
          Tarde
        </label>
        <span>12:01 ás 18h</span>
      </div>
      <div class="divider"></div>
      <div class="radio-option">
        <label>
          <input
            id="noite_option"
            type="radio"
            value="noite"
            name="hour"
            formControlName="hour"
          />
          Noite
        </label>
        <span>18:01 ás 23h</span>
      </div>
      <div class="divider"></div>
    </div>
    <div class="check-option">
      <label>
        <input type="checkbox" formControlName="showClosedUnits" />
        Incluir unidades fechadas?
      </label>
      <span
        >Resultados encontrados: <b>{{ filteredResults().length }}</b></span
      >
    </div>
  </section>
  <div class="buttons-wrapper">
    <button class="btn-primary" (click)="onSubmitForm()">
      Encontrar Unidade
    </button>
    <button class="btn-secondary" (click)="onCleanForm()">Limpar</button>
  </div>
</form>
